PORT=2000
ADMIN_API_KEY=your_secret_admin_key_here

# Настройки отправки заявок на почту
EMAIL_TO=isthismytea@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=isthismytea@gmail.com
SMTP_PASS=your_gmail_app_password_here
